[submodule "cpython"]
	path = cpython/cpython
	url = git@github.com:ubc-systopia/cpython.git
	branch = cpsc-508
[submodule "Microwalk"]
	path = Microwalk
	url = git@github.com:kdankert-ubc/Microwalk.git
	branch = cpsc-508
[submodule "quickjs/quickjs"]
	path = quickjs/quickjs
	url = git@github.com:ubc-systopia/quickjs.git
	branch = cpsc-508
